{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "output.css" %}">
    <link rel="stylesheet" href="{% static "terminal.css" %}">
{% endblock %}

{% block page_title %}
    {{ post.title }}
{% endblock %}

{% block content %}
     {% include "includes/header.html" %}
    <main class="min-h-screen pt-8">
    <div class="terminal-container">
      <div class="terminal">
        <!-- Terminal Bar -->
        <section class="terminal__bar">
          <div class="bar__buttons">
            <button class="bar__button bar__button--exit">&#10005;</button>
            <button class="bar__button">&#9472;</button>
            <button class="bar__button">&#9723;</button>
          </div>
          <p class="bar__user">posted time: {{ post.created_on }}</p>
        </section>
        <!-- Terminal Body -->
        <section class="terminal__body">
          <div class="terminal__prompt">
            <span class="terminal__prompt--user">
                author
                {%  for author in authors %}
                    {{ author.first_name }} {{ author.last_name }}
                {% endfor %}
            :
            </span>
            <span class="terminal__prompt--location">~</span>
            <span class="terminal__prompt--bling">$</span>
            <span class="terminal__prompt--cursor"></span>
          </div>
            <h1 class="folder-title">{{ post.title }}</h1>
            {% if post.main_image %}
                <img class="main_image" src="{{ post.main_image.url }}" alt="post image" class="w-full h-64 object-cover">
            {% endif %}
        {{ post.content }}
        </section>
      </div>
    </div>
        <form action="{% url 'post-details' post.slug %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit">Submit</button>
        </form>

        <ul>
            {% for comment in comments %}
            <li>
                {{ comment.content }}
            </li>
            {% endfor %}
        </ul>
</main>
    {% include "includes/footer.html" %}
{% endblock %}