<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/" method="post">
        {% csrf_token %}
<!--        {% if has_error %}-->
<!--            <p>Invalid form</p>-->
<!--        {% endif %}-->
<!--        <div>-->
<!--            <label for="name">Your name</label>-->
<!--            <input id="name" type="text" name="name">-->
<!--        </div>-->
<!--        Rendering forms created by django constructor-->

<!--        We have option to eaither render all form, unchanged, or to customize it-->
<!--        {{ form }}-->
<!--        <div>-->
<!--            {{ form.user.label_tag }}-->
<!--            {{ form.user }}-->
<!--            {{ form.user.errors }}-->
<!--        </div>-->
<!--        <div>-->
<!--            {{ form.review.label_tag }}-->
<!--            {{ form.review }}-->
<!--            {{ form.review.errors }}-->
<!--        </div>-->
<!--        <div>-->
<!--            {{ form.rating.label_tag }}-->
<!--            {{ form.rating }}-->
<!--            {{ form.rating.errors }}-->
<!--        </div>-->


<!--        To avoid redundancy we can just use for loop-->

        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <h2>All reviews:</h2>
    {% for review in reviews %}
        <li>
            <h3>{{ review.name }}</h3>
            <p>{{ review.review }}</p>
        </li>
    {% endfor %}
</body>
</html>